Repository mdn/translated-content-de, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/engineering, @mdn/content-team, @mdn/de-content

chore(de): translate diff [c3daa17e47]
  files/de/learn_web_development/core/structuring_content/table_accessibility/index.md
  files/de/web/api/canvas_api/tutorial/using_images/index.md
  files/de/web/api/htmlelement/inert/index.md
  files/de/web/css/@font-face/index.md
  files/de/web/css/@import/index.md
  files/de/web/css/container-name/index.md
  files/de/web/css/container-type/index.md
  files/de/web/css/css_animations/index.md
  files/de/web/css/css_cascade/index.md
  files/de/web/css/css_colors/index.md
  files/de/web/css/css_conditional_rules/index.md
  files/de/web/css/css_custom_functions_and_mixins/index.md
  files/de/web/css/css_display/index.md
  files/de/web/css/css_fragmentation/index.md
  files/de/web/css/css_media_queries/index.md
  files/de/web/css/css_namespaces/index.md
  files/de/web/css/css_paged_media/index.md
  files/de/web/css/css_positioned_layout/index.md
  files/de/web/css/css_properties_and_values_api/index.md
  files/de/web/css/css_round_display/index.md
  files/de/web/css/css_ruby_layout/index.md
  files/de/web/css/css_scroll-driven_animations/index.md
  files/de/web/css/css_scroll_anchoring/index.md
  files/de/web/css/css_syntax/index.md
  files/de/web/css/cssom_view/index.md
  files/de/web/css/interactivity/index.md
  files/de/web/css/transform/index.md
  files/de/web/html/reference/global_attributes/inert/index.md
  files/de/web/uri/reference/fragment/text_fragments/index.md
Owners: @mdn/de-content

chore(de): translate diff [602754279b]
  files/de/web/api/document/createnodeiterator/index.md
  files/de/web/api/document/createtreewalker/index.md
  files/de/web/api/element/sethtml/index.md
  files/de/web/api/intersection_observer_api/index.md
  files/de/web/api/navigateevent/index.md
  files/de/web/api/navigateevent/intercept/index.md
  files/de/web/api/navigation_api/index.md
  files/de/web/api/node/isdefaultnamespace/index.md
  files/de/web/api/node/lookupnamespaceuri/index.md
  files/de/web/api/node/lookupprefix/index.md
  files/de/web/api/nodeiterator/index.md
  files/de/web/api/nodeiterator/whattoshow/index.md
  files/de/web/api/performance_api/resource_timing/index.md
  files/de/web/api/performanceresourcetiming/index.md
  files/de/web/api/readablestream/readablestream/index.md
  files/de/web/api/treewalker/index.md
  files/de/web/api/treewalker/whattoshow/index.md
Owners: @mdn/de-content

de: auto-fix content issues
  files/de/mozilla/add-ons/webextensions/api/action/onusersettingschanged/index.md
  files/de/mozilla/add-ons/webextensions/api/browseraction/onusersettingschanged/index.md
  files/de/web/api/document_object_model/anatomy_of_the_dom/index.md
  files/de/web/api/html_drag_and_drop_api/drag_data_store/index.md
  files/de/web/css/css_writing_modes/writing_mode_systems/index.md
  files/de/web/css/interactivity/index.md
Owners: @mdn/de-content

chore(de): translate diff [1ed137ce25]
  files/de/web/api/rtcencodedaudioframe/rtcencodedaudioframe/index.md
  files/de/web/api/rtcencodedvideoframe/rtcencodedvideoframe/index.md
  files/de/web/api/svgaelement/text/index.md
Owners: @mdn/de-content

chore(de): translate diff [79c20479f5]
  files/de/mozilla/add-ons/webextensions/api/storage/storagearea/getbytesinuse/index.md
  files/de/mozilla/add-ons/webextensions/internationalization/index.md
  files/de/mozilla/firefox/experimental_features/index.md
  files/de/mozilla/firefox/releases/115/index.md
  files/de/mozilla/firefox/releases/120/index.md
  files/de/mozilla/firefox/releases/121/index.md
  files/de/mozilla/firefox/releases/122/index.md
  files/de/mozilla/firefox/releases/138/index.md
  files/de/mozilla/firefox/releases/145/index.md
  files/de/web/api/cookiestore/get/index.md
  files/de/web/api/html_sanitizer_api/index.md
  files/de/web/api/html_sanitizer_api/using_the_html_sanitizer_api/index.md
  files/de/web/api/idbindex/getallrecords/index.md
  files/de/web/api/idbindex/index.md
  files/de/web/api/idbobjectstore/getallrecords/index.md
  files/de/web/api/idbobjectstore/index.md
  files/de/web/api/integrityviolationreportbody/index.md
  files/de/web/api/mediadevices/getusermedia/index.md
  files/de/web/api/rtcencodedaudioframe/getmetadata/index.md
  files/de/web/api/rtcencodedaudioframe/index.md
  files/de/web/api/rtcencodedvideoframe/getmetadata/index.md
  files/de/web/api/rtcencodedvideoframe/index.md
  files/de/web/api/svgaelement/index.md
  files/de/web/css/css_containment/container_size_and_style_queries/index.md
  files/de/web/css/position-area/index.md
  files/de/web/css/position-area_value/index.md
  files/de/web/css/webkit_extensions/index.md
  files/de/web/http/reference/headers/integrity-policy-report-only/index.md
  files/de/web/http/reference/headers/integrity-policy/index.md
  files/de/web/security/authentication/index.md
Owners: @mdn/de-content

chore(de): translate diff [b9acb5397c]
  files/de/web/api/element/sethtml/index.md
  files/de/web/api/element/sethtmlunsafe/index.md
  files/de/web/api/node/nodetype/index.md
  files/de/web/api/shadowroot/sethtml/index.md
  files/de/web/api/shadowroot/sethtmlunsafe/index.md
  files/de/web/html/reference/elements/sub/index.md
Owners: @mdn/de-content

chore: migrate GitHub team references
  files/de/mdn/community/getting_started/index.md
Owners: @mdn/de-content

chore: migrate GitHub team references (#142)
  files/de/mdn/community/getting_started/index.md
Owners: @mdn/de-content

ci(workflows): pin 3rd party actions
  .github/workflows/auto-cleanup-bot.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-check_json.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-check_yml.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-test.yml
  .github/workflows/sync-translated-content.yml
Owners: @mdn/engineering

chore(de): translate diff [f294ddc642]
  files/de/games/publishing_games/game_distribution/index.md
  files/de/mozilla/firefox/releases/145/index.md
  files/de/web/api/document/parsehtmlunsafe_static/index.md
  files/de/web/api/document/write/index.md
  files/de/web/api/document/writeln/index.md
  files/de/web/api/dommatrix/fromfloat32array_static/index.md
  files/de/web/api/dommatrix/fromfloat64array_static/index.md
  files/de/web/api/element/innerhtml/index.md
  files/de/web/api/element/insertadjacenthtml/index.md
  files/de/web/api/element/outerhtml/index.md
  files/de/web/api/element/sethtml/index.md
  files/de/web/api/element/sethtmlunsafe/index.md
  files/de/web/api/htmlelement/innertext/index.md
  files/de/web/api/htmlscriptelement/index.md
  files/de/web/api/htmlscriptelement/innertext/index.md
  files/de/web/api/htmlscriptelement/text/index.md
  files/de/web/api/htmlscriptelement/textcontent/index.md
  files/de/web/api/imagebitmaprenderingcontext/transferfromimagebitmap/index.md
  files/de/web/api/node/textcontent/index.md
  files/de/web/api/performanceresourcetiming/responsestart/index.md
  files/de/web/api/shadowroot/sethtml/index.md
  files/de/web/api/shadowroot/sethtmlunsafe/index.md
  files/de/web/api/subtlecrypto/digest/index.md
  files/de/web/css/interactivity/index.md
  files/de/web/http/reference/headers/set-cookie/index.md
  files/de/web/svg/reference/element/fedropshadow/index.md
Owners: @mdn/de-content

linter / formatting
  files/de/.markdownlint-cli2.jsonc
Owners: @mdn/de-content

ci(workflows): pin 3rd party actions (#145)
  .github/workflows/auto-cleanup-bot.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-check_json.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-check_yml.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-test.yml
  .github/workflows/sync-translated-content.yml
  files/de/.markdownlint-cli2.jsonc
Owners: @mdn/engineering, @mdn/de-content

de: auto-fix content issues
  files/de/mozilla/add-ons/webextensions/api/action/onusersettingschanged/index.md
  files/de/mozilla/add-ons/webextensions/api/browseraction/onusersettingschanged/index.md
  files/de/web/api/document_object_model/anatomy_of_the_dom/index.md
  files/de/web/api/html_drag_and_drop_api/drag_data_store/index.md
  files/de/web/api/htmlscriptelement/innertext/index.md
  files/de/web/css/css_writing_modes/writing_mode_systems/index.md
Owners: @mdn/de-content

[de] auto-fix content issues (#111)
  files/de/mozilla/add-ons/webextensions/api/action/onusersettingschanged/index.md
  files/de/mozilla/add-ons/webextensions/api/browseraction/onusersettingschanged/index.md
  files/de/web/api/document_object_model/anatomy_of_the_dom/index.md
  files/de/web/api/html_drag_and_drop_api/drag_data_store/index.md
  files/de/web/api/htmlscriptelement/innertext/index.md
  files/de/web/css/css_writing_modes/writing_mode_systems/index.md
Owners: @mdn/de-content

chore(de): translate diff [149256c7f2]
  files/de/mozilla/add-ons/webextensions/api/runtime/platformos/index.md
  files/de/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/de/web/css/@supports/index.md
  files/de/web/css/animation-range/index.md
  files/de/web/css/overlay/index.md
  files/de/web/http/reference/headers/index.md
  files/de/web/javascript/reference/global_objects/map/has/index.md
Owners: @mdn/de-content

ci(workflows): specify `pull_request_target` branches
  .github/workflows/pr-rebase-needed.yml
  .github/workflows/system-file-changes.yml
Owners: @mdn/engineering

ci(workflows): specify `pull_request_target` branches (#147)
  .github/workflows/pr-rebase-needed.yml
  .github/workflows/system-file-changes.yml
Owners: @mdn/engineering

chore(de): translate diff [57bc2729e3]
  files/de/_redirects.txt
  files/de/glossary/breadcrumb/index.md
  files/de/learn_web_development/core/css_layout/index.md
  files/de/learn_web_development/core/index.md
  files/de/learn_web_development/core/styling_basics/box_model/index.md
  files/de/learn_web_development/core/styling_basics/organizing/index.md
  files/de/learn_web_development/core/styling_basics/what_is_css/index.md
  files/de/learn_web_development/core/text_styling/index.md
  files/de/learn_web_development/core/version_control/index.md
  files/de/learn_web_development/extensions/client-side_tools/package_management/index.md
  files/de/learn_web_development/getting_started/your_first_website/creating_the_content/index.md
  files/de/learn_web_development/howto/solve_css_problems/index.md
  files/de/learn_web_development/index.md
  files/de/web/accessibility/aria/reference/attributes/aria-current/index.md
  files/de/web/css/css_grid_layout/grid_template_areas/index.md
  files/de/web/css/how_to/index.md
  files/de/web/css/how_to/layout_cookbook/breadcrumb_navigation/index.md
  files/de/web/css/how_to/layout_cookbook/card/index.md
  files/de/web/css/how_to/layout_cookbook/column_layouts/index.md
  files/de/web/css/how_to/layout_cookbook/contribute_a_recipe/cookbook_template/index.md
  files/de/web/css/how_to/layout_cookbook/contribute_a_recipe/index.md
  files/de/web/css/how_to/layout_cookbook/grid_wrapper/index.md
  files/de/web/css/how_to/layout_cookbook/index.md
  files/de/web/css/how_to/layout_cookbook/list_group_with_badges/index.md
  files/de/web/css/how_to/layout_cookbook/media_objects/index.md
  files/de/web/css/how_to/layout_cookbook/pagination/index.md
  files/de/web/css/how_to/layout_cookbook/split_navigation/index.md
  files/de/web/css/index.md
  files/de/web/css/layout_cookbook/breadcrumb_navigation/index.md
  files/de/web/css/layout_cookbook/card/index.md
  files/de/web/css/layout_cookbook/center_an_element/index.md
  files/de/web/css/layout_cookbook/column_layouts/index.md
  files/de/web/css/layout_cookbook/contribute_a_recipe/cookbook_template/index.md
  files/de/web/css/layout_cookbook/contribute_a_recipe/index.md
  files/de/web/css/layout_cookbook/grid_wrapper/index.md
  files/de/web/css/layout_cookbook/index.md
  files/de/web/css/layout_cookbook/list_group_with_badges/index.md
  files/de/web/css/layout_cookbook/pagination/index.md
  files/de/web/css/layout_cookbook/split_navigation/index.md
  files/de/web/css/layout_cookbook/sticky_footers/index.md
Owners: @mdn/de-content

de: auto-fix content issues
  files/de/web/css/reference/properties/animation-range-start/index.md
  files/de/web/css/reference/properties/animation-range/index.md
  files/de/web/css/reference/properties/border-spacing/index.md
  files/de/web/css/reference/properties/break-after/index.md
  files/de/web/css/reference/properties/fill/index.md
  files/de/web/css/reference/properties/flex/index.md
  files/de/web/css/reference/properties/forced-color-adjust/index.md
  files/de/web/css/reference/properties/grid-auto-rows/index.md
  files/de/web/css/reference/properties/grid-template-columns/index.md
  files/de/web/css/reference/properties/left/index.md
  files/de/web/css/reference/properties/margin-left/index.md
  files/de/web/css/reference/properties/mask-border-repeat/index.md
  files/de/web/css/reference/properties/max-width/index.md
  files/de/web/css/reference/properties/min-width/index.md
  files/de/web/css/reference/properties/overflow/index.md
  files/de/web/css/reference/properties/place-self/index.md
  files/de/web/css/reference/properties/position-anchor/index.md
  files/de/web/css/reference/properties/timeline-scope/index.md
  files/de/web/css/reference/properties/top/index.md
  files/de/web/css/reference/properties/transition-behavior/index.md
Owners: @mdn/de-content

Update documentation
  README.md
Owners: @mdn/de-content

chore(de): translate diff [2da6c8a657]
  files/de/web/http/reference/headers/idempotency-key/index.md
Owners: @mdn/de-content

chore(de): translate diff [273e96b5d5]
  files/de/learn_web_development/core/scripting/dom_scripting/index.md
Owners: @mdn/de-content

chore(de): translate diff [3d3046d134]
  files/de/web/javascript/reference/operators/import/index.md
  files/de/web/javascript/reference/statements/import/index.md
  files/de/web/javascript/reference/statements/import/with/index.md
Owners: @mdn/de-content

chore(de): translate diff [2ab902d9ee]
  files/de/learn_web_development/getting_started/environment_setup/installing_software/index.md
  files/de/mozilla/firefox/experimental_features/index.md
  files/de/mozilla/firefox/releases/145/index.md
  files/de/web/api/trusted_types_api/index.md
  files/de/web/css/@font-palette-values/base-palette/index.md
  files/de/web/css/@font-palette-values/font-family/index.md
  files/de/web/css/@font-palette-values/override-colors/index.md
  files/de/web/css/@property/initial-value/index.md
  files/de/web/http/guides/csp/index.md
  files/de/web/http/guides/user-agent_reduction/index.md
  files/de/web/http/reference/headers/content-security-policy/index.md
  files/de/web/javascript/reference/operators/import/index.md
Owners: @mdn/de-content

test: add other locales
  files/es/_redirects.txt
  files/fr/_redirects.txt
  files/ja/_redirects.txt
  files/ko/_redirects.txt
  files/pt-br/_redirects.txt
  files/ru/_redirects.txt
  files/zh-cn/_redirects.txt
  files/zh-tw/_redirects.txt
Owners: @mdn/content-team

fix(de): fix flaws + parser issues
  files/de/web/accessibility/aria/reference/attributes/aria-placeholder/index.md
  files/de/web/api/idbindex/count/index.md
  files/de/web/css/reference/properties/border-top-color/index.md
  files/de/web/css/reference/properties/mask-border-outset/index.md
Owners: @mdn/de-content

test: add other locales
  files/es/_redirects.txt
  files/fr/_redirects.txt
  files/ja/_redirects.txt
  files/ko/_redirects.txt
  files/pt-br/_redirects.txt
  files/ru/_redirects.txt
  files/zh-cn/_redirects.txt
  files/zh-tw/_redirects.txt
Owners: @mdn/content-team

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# ----------------------------------------------------------------------------

* @mdn/engineering

# Content
/files/     @mdn/content-team
/files/de/  @mdn/de-content

# Translation guide
/docs/      @mdn/content-team
/docs/de/   @mdn/de-content

# Issue templates
/.github/ISSUE_TEMPLATE/page-report-de.yml @mdn/de-content

# Miscellaneous
/.github/            @mdn/engineering
/.github/CODEOWNERS  @mdn/engineering
/*                   @mdn/engineering
/*.md                @mdn/de-content

# Reset until https://github.com/prettier/prettier/issues/11828 is fixed
/.prettierignore
